<!-- Intro Section -->
<section id="intro" class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
               <img src="assets/logo.gif" style="width:cover;">
                <h1>당신의 사물함을 인터넷으로 신청하세요</h1>
                <p>귀찮게 왔다갔다 할 필요가 없습니다.</p>
                <a class="btn btn-default page-scroll" href="#about">신청하러 가기</a>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section id="about" class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <h1><strong>굳이 불편하게 찾아가지 않아도 됩니다</strong></h1>
                        온라인을 통한 사물함 신청 서비스<br>
                        <strong>사물함신청담당자</strong>는 간단하게 접수받고<br>
                        <strong>사물함신청자</strong>는 간단하게 신청하고<br>
                        간단하게 <strong>유지보수</strong>까지!<br>
                        무료입니다.
            </div>
        </div>
    </div>
</section>

<!-- Services Section -->
<section id="services" class="services-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

              <a class="btn btn-default " href="#about">네자리내자리 사용방법 바로가기</a>
              <h1><strong>서비스 제공 학교 및 공공시설</strong></h1>
              <p>경희대학교 응용화학과</p>
              <p>경희대학교 응용수학과</p>
              <p>경희대학교 응용물리학과</p>
              <p>경희대학교 우주과학과</p>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Contact Section</h1>

            </div>
        </div>
    </div>
</section>
